

@{
	ViewBag.Title = "Virto commerce - Enterprise .NET open-source ecommerce cloud platform. Become Partner";
}
<article role="main" class="main">
	<div class="partner __responsive">
		<h2 class="title">Partner Program</h2>
		<p class="text">We will be glad to have you among our partners. Please fill out the form below. We will be in contact with you shortly.</p>
		<div class="columns">
			<div class="column">
				<div class="block">
					<form action="">
						<div class="column">
							<div class="control-group">
								<label for="Fullname">Full name</label>
								<input type="text" name="Fullname" class="form-input" required>
							</div>
							<div class="control-group">
								<label for="phone">Phone</label>
								<input type="text" name="Phone" class="form-input" required>
							</div>
							<div class="control-group">
								<label for="jobTitle">job Title</label>
								<input type="text" name="JobTitle" class="form-input" required>
							</div>
						</div>
						<div class="column">
							<div class="control-group">
								<label for="email">Email</label>
								<input type="text" name="To" class="form-input" required>
							</div>
							<div class="control-group">
								<label for="company">Company</label>
								<input type="text" name="Company" class="form-input" required>
							</div>
							<div class="control-group">
								<label for="web">Website</label>
								<input type="text" name="Website" class="form-input" required>
							</div>
						</div>
						<div class="control-group">
							<label for="descr">Comments</label>
							<textarea rows="10" cols="30" name="Comments" class="form-text" required></textarea>
						</div>
						<div class="control-group">
							<button class="button fill" type="submit">Send Message</button>
						</div>
					</form>
				</div>
			</div>
			<div class="column">
				<div class="block">
					<p class="title">Who can participate?</p>
					<p class="text">Consulting or developing companies with eCommerce practice background and expertise reviewed by us.</p>
					<p class="title">What's in it for you?</p>
					<ul class="list">
						<li>Access to latest eCommerce Platfrom features</li>
						<li>Generous commissions</li>
						<li>Priority Technical Support</li>
						<li>Licenses for testing and evaluating purposes</li>
						<li>Web site presence with partner profile</li>
						<li>Lead generation and referral program</li>
						<li>Joint PR &amp; Marketing Activities</li>
						<li>Joint press releases</li>
						<li>Success story postings</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	@Html.Partial("_TechnologiesPartial")
</article>
