@{
	ViewBag.Title = "Virto commerce - ASP.NET open-source ecommerce framework. Roadmap.";
}
<article role="main" class="main">
	<!-- Roadmap -->
	<div class="roadmap __responsive">
		<h2 class="title">Roadmap</h2>
		<ul class="list">
			<li class="list-item">
				<div class="roadmap-ico"></div>
				<p class="roadmap-title">Winter 2014-2015</p>
				<p class="roadmap-descr">We are gearing up for a very eventful winter here at Virto Commerce. Several major releases as scheduled to be published including Marketplace, new generation Order System and a lot of updates to the Web Admin.</p>
				<div class="columns">
					<div class="column">
						<ul class="list">
							<li>
								<span class="title">Document based order system</span>
								<span class="descr">This model has a new architecture that provides transaction model and support for simplifying various B2B and B2C scenarios. Integration with ERP and WMS platforms will be much more intuitive and simple.</span>
							</li>
							<li>
								<span class="title">Virto Commerce Marketplace</span>
								<span class="descr">Site where our partners can publish various components and solutions for Virto Commerce. It will allow for a better collaboration between partners, solution providers and customers. Our core modules will also be published through new marketplace site.</span>
							</li>
							<li>
								<span class="title">Multi Channel</span>
								<span class="descr">Extensible open source module that provides integration with popular marketplaces. Initial version will include eBay and Amazon.</span>
							</li>
							<li>
								<span class="title">Java Script integration API</span>
								<span class="descr">Javascript based api to quickly integrate frontend anywhere.</span>
							</li>
						</ul>
					</div>
					<div class="column">
						<ul class="list">
							<li>
								<span class="title">Improved major APIs</span>
								<span class="descr">Updated Web API based web services for Catalog, Dynamic Content, Order and Configuration.</span>
							</li>
							<li>
								<span class="title">Samples of Facebook and Wordpress stores</span>
								<span class="descr">Based on javascript api.</span>
							</li>
							<li>
								<span class="title">Marking automation modules</span>
								<span class="descr">Integration with popular marketing platforms <a href="http://silverpop.com" rel="nofollow">Silverpop</a>, <a href="http://hubspot.com" rel="nofollow">Marketo</a>, <a href="http://www.marketo.com" rel="nofollow">SpotHub</a></span>
							</li>
							<li>
								<span class="title">New payment systems</span>
								<span class="descr"><a href="https://klarna.com" rel="nofollow">Klarna.com</a>, <a href="http://payex.com" rel="nofollow">payex.com</a>, <a href="https://www.merchante-solutions.com/" rel="nofollow">merchante-solutions.com</a></span>
							</li>
							<li>
								<span class="title">Google Commerce Analytics</span>
								<span class="descr">Out of the box integration with Google Analytics Commerce API, track cart abandonments, product views and total sales by products all in real time.</span>
							</li>
						</ul>
					</div>
				</div>
			</li>
		</ul>
	</div>
	@Html.Partial("_TechnologiesPartial")
</article>