@{
	ViewBag.Title = "Enterprise .NET open-source ecommerce cloud platform. Thank you";
}
<article class="main" role="main">
	<div class="features">
		<div class="responsive">
			<h2 class="title">Thank you</h2>
		</div>
	</div>
	@Html.Partial("_TechnologiesPartial")
</article>
