@{
	ViewBag.Title = "Contact";
}
<article role="main" class="main">
	<div class="contacts __responsive">
		<div class="columns">
			<div class="column">
				<div class="block">
					<p class="title">Contact us</p>
					<p class="text">Email: <a href="mailto: sales@virtocommerce.com">sales@virtocommerce.com</a> <br>Phone: <span itemprop="telephone">+1 (800) 980-5288</span></p>
					<p class="sub-title">Locations</p>
					<ul class="list">
						<li class="list-item" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
							<span class="bold" itemprop="addressCountry">United States</span>
							<span itemprop="streetAddress">20945 Devonshire St Suite 102</span><br>
							<span itemprop="addressLocality">Los Angeles</span>, <span itemprop="addressRegion">California</span> <span itemprop="postalCode">91311</span> <br>
							Phone: <span itemprop="telephone">+1 (800) 980-5288</span><br>
						</li>
						<li class="list-item" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
							<span class="bold" itemprop="addressCountry">Lithuania</span>
							Address: <span itemprop ="streetAddress">Laisvės pr. 79E</span>, <span itemprop="addressLocality">Vilnius</span>, <br>Lithuania <span itemprop="postalCode">06122</span>
</li>
						<li class="list-item" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
							<span class="bold" itemprop="addressCountry">Sweden</span>
							Address: <span itemprop="streetAddress">Sankt Eriksgatan 82, 113</span> <br>62 <span itemprop="addressLocality">Stockholm</span>, Sweden <br>
							Email: <a href="mailto: sales@virtocommerce.se">sales@virtocommerce.se</a>
						</li>
						<li class="list-item" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
							<span class="bold" itemprop="addressCountry">Russia</span>
							Address: <span itemprop="streetAddress">Verhneozernya 25/7</span>, <br><span itemprop="addressLocality">Kaliningrad</span>, Russia <span itemprop="postalCode">236000</span><br>
							Phone: <span itemprop="telephone">+7 (921) 710 36 67</span>
						</li>
						<li class="list-item" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
							<span class="bold" itemprop="addressCountry">China</span>
							Address: China, Shenzhen <br>Shiyan qu Shuitian Di 4 GongYeQu, <br>Abao gongyuan A5,5 lou <br>
							Phone:  <span itemprop="telephone">+86 131 4140 5636</span>
						</li>
						<li class="list-item">
							<img alt="" src="/Content/images/china.jpg">
						</li>
					</ul>
				</div>
			</div>
			<div class="column">
				<div class="block">
					<p class="title">Contact us if you have any questions</p>
					<form action="">
						<div class="control-group">
							<label for="fullName">Full name</label>
							<input type="text" name="name" id="fullName" class="form-input">
						</div>
						<div class="control-group">
							<label for="email">Email</label>
							<input type="text" name="email" id="email" class="form-input">
						</div>
						<div class="control-group">
							<label for="comments">Comments</label>
							<textarea rows="10" cols="30" id="comments" name="comments" class="form-text"></textarea>
						</div>
						<div class="control-group">
							<button class="button fill">Submit request</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<p class="title">About us</p>
		<p class="text">Virto Commerce was founded by a team that previously developed Mediachase eCommerce Framework, successfully used by thousands of merchants around the world, including Canon, The Coffee Bean &amp; Tea Leaf, Hershey's and others.</p>
		<p class="text">We are company with a mission to make e-Commerce development simple and exciting.</p>
		<p class="text">Our main focus is professional developers and organizations looking for a framework that will help them deliver "more than expected" to their customers in less time. Our goal is to deliver software product that we can be proud of.</p>
		<p class="text">We are a global company with offices and local experience in USA, European and Asian markets. We understand that each of those markets brings specific challenges.</p>
		<p class="title">Team</p>
		<img alt="" src="/Content/images/our_team.jpg">
		<p class="text">The key to our success is the team behind VirtoCommerce. With a team of more than 150 professionals located in 5 offices around the world and a network of solution providers, we are ready to meet any challenge and help our customers deliver the best enterprise ecommerce solution possible. Our team consists of architects that developed e-Commerce products and solutions for over a decade thus providing a wealth of experience to our customers.</p>
		<p class="text">Our focus on quality product and professional developers gives us unique advantage over competitors mostly focused on selling business features. Architecture and right approach to solving problems is what gives our platform a flexibility to adjust to current and future business requirements.</p>
	</div>
	@Html.Partial("_TechnologiesPartial")
</article>