@{
	ViewBag.Title = "Virto commerce - ASP.NET open-source ecommerce framework. Roadmap.";
}
<article role="main" class="main">
	<!-- Roadmap -->
	<div class="roadmap __responsive">
		<h2 class="title">Roadmap</h2>
		<ul class="list">
			<li class="list-item">
				<div class="roadmap-ico"></div>
				<p class="roadmap-title">Summer 2014</p>
				<p class="roadmap-descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis erat a sapien congue dignissim eget eget ipsum. Curabitur id dui accumsan, luctus quam vitae, feugiat elit. Etiam vulputate, urna ac malesuada fermentum, orci quam volutpat odio, eu dignissim quam dui ut metus. Vestibulum iaculis fermentum rutrum. Nam aliquet porttitor ligula id ultricies. Morbi purus elit, dapibus vitae pellentesque at, commodo sit amet nulla. Aenean lorem neque, molestie vitae justo a, tempus consequat ipsum.</p>
				<div class="columns">
					<div class="column">
						<ul class="list">
							<li>
								<span class="title">Admin User filtering</span>
								<span class="descr">can now easily filter admins, customers and power users</span>
								<a class="link" href="#">Read more</a>
							</li>
							<li>
								<span class="title">Admin User filtering</span>
								<span class="descr">can now easily filter admins, customers and power users</span>
								<a class="link" href="#">Read more</a>
							</li>
							<li>
								<span class="title">Admin User filtering</span>
								<span class="descr">can now easily filter admins, customers and power users</span>
								<a class="link" href="#">Read more</a>
							</li>
						</ul>
					</div>
					<div class="column">
						<ul class="list">
							<li>
								<span class="title">Admin User filtering</span>
								<span class="descr">can now easily filter admins, customers and power users</span>
								<a class="link" href="#">Read more</a>
							</li>
							<li>
								<span class="title">Admin User filtering</span>
								<span class="descr">can now easily filter admins, customers and power users</span>
								<a class="link" href="#">Read more</a>
							</li>
							<li>
								<span class="title">Admin User filtering</span>
								<span class="descr">can now easily filter admins, customers and power users</span>
								<a class="link" href="#">Read more</a>
							</li>
						</ul>
					</div>
				</div>
			</li>
			<li class="list-item">
				<div class="roadmap-ico"></div>
				<p class="roadmap-title">Autumn 2014</p>
				<p class="roadmap-descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis erat a sapien congue dignissim eget eget ipsum. Curabitur id dui accumsan, luctus quam vitae, feugiat elit. Etiam vulputate, urna ac malesuada fermentum, orci quam volutpat odio, eu dignissim quam dui ut metus. Vestibulum iaculis fermentum rutrum. Nam aliquet porttitor ligula id ultricies. Morbi purus elit, dapibus vitae pellentesque at, commodo sit amet nulla. Aenean lorem neque, molestie vitae justo a, tempus consequat ipsum.</p>
				<a class="link" href="#">Read more</a>
			</li>
			<li class="list-item">
				<div class="roadmap-ico"></div>
				<p class="roadmap-title">Winter 2014</p>
				<p class="roadmap-descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis erat a sapien congue dignissim eget eget ipsum. Curabitur id dui accumsan, luctus quam vitae, feugiat elit. Etiam vulputate, urna ac malesuada fermentum, orci quam volutpat odio, eu dignissim quam dui ut metus. Vestibulum iaculis fermentum rutrum. Nam aliquet porttitor ligula id ultricies. Morbi purus elit, dapibus vitae pellentesque at, commodo sit amet nulla. Aenean lorem neque, molestie vitae justo a, tempus consequat ipsum.</p>
				<a class="link" href="#">Read more</a>
			</li>
		</ul>
	</div>
	@Html.Partial("_TechnologiesPartial")
</article>