@{
	ViewBag.Title = "Virto commerce - Free download .NET open-source ecommerce platform.";
}
<article role="main" class="main">
	<div class="try-now download responsive">
		<h2 class="title">Download / Install Virto Commerce</h2>
		<p class="text">Pick how you want to download and install Virto Commerce</p>
		<div class="columns clearfix">
			<div class="column">
				<div class="block">
					<h3 class="title">Install using Microsoft Web Platform Installer</h3>
					<p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi blanditiis qui maxime illo, exercitationem tempore.</p>
					<a class="button fill" href="#">Install</a>
				</div>
				<div class="block">
					<h3 class="title">Install on Microsoft Cloud (Azure)</h3>
					<p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi blanditiis qui maxime illo, exercitationem tempore.</p>
					<a class="button fill" href="#">Install</a>
				</div>
			</div>
			<div class="column">
				<div class="block">
					<h3 class="title">Download Virto Commerce SDK Package</h3>
					<p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi blanditiis qui maxime illo, exercitationem tempore.</p>
					<a class="button fill" href="#">Pick Edition and Download</a>
				</div>
				<div class="block">
					<h3 class="title">Download Virto Commerce Source Code</h3>
					<p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi blanditiis qui maxime illo, exercitationem tempore.</p>
					<a class="button fill" href="#">Open Github Repository</a>
				</div>
			</div>
		</div>
	</div>
	@Html.Partial("_TechnologiesPartial")
</article>