@{
	ViewBag.Title = "Znode";
}
<article role="main" class="main">
	<div class="contacts __responsive">
		<br />
		<h2 class="title">Virto Commerce vs Znode Comparison</h2>
		<div class="columns clearfix">
			<div class="column">
				<div class="block">
					<h3 class="title">Virto Commerce</h3>
					<p class="text">Developed from 2011 as an enterprise platform with focus on Azure cloud and all the latest technologies available including .NET 4.5, Windows Workflow Foundation, Entity Framework 5, Web API, Elastic Search etc.</p>
				</div>
			</div>
			<div class="column">
				<div class="block">
					<h3 class="title">Znode</h3>
					<p class="text">First created as a starter shopping cart for small to medium businesses. In 2011 ZNode was acquired and now targets enterprise level customers. Despite that, it still runs on older .net framework, uses outdated webforms technology and does not utilize any dependency injection.</p>
				</div>
			</div>
		</div>
		<p class="sub-title">Comparison Table</p>
		<p class="text">Comparison tables contains main differences in two products that are meant to be platforms to develop solutions on .net. This is not a pure feature by feature comparison typically used to compare shopping carts.</p>
		<p class="text">If you want to compare Virto Commerce yourself, please download a full SDK version and try creating a proof of concept project.</p>
	</div>
	@Html.Partial("_TechnologiesPartial")
</article>