<div class="footer-wrap">
	<footer role="contentinfo" class="responsive">
		<div class="column">
			<div class="links">
				<h2 class="title">Menu</h2>
				<ul class="menu">
					<li class="menu-item">
						<a href="" class="link-white">About us</a>
					</li>
					<li class="menu-item">
						<a href="" class="link-white">Support</a>
					</li>
					<li class="menu-item">
						<a href="" class="link-white">Costumers</a>
					</li>
					<li class="menu-item">
						<a href="" class="link-white">Contact us</a>
					</li>
				</ul>
			</div>
			<div class="dev">
				<h2 class="title">Dev resources</h2>
				<ul class="menu">
					<li class="menu-item document">
						<a href="" class="link-white">Documentation</a>
					</li>
					<li class="menu-item downloads">
						<a href="" class="link-white">Downloads</a>
					</li>
					<li class="menu-item code">
						<a href="" class="link-white">Code repository</a>
					</li>
					<li class="menu-item roadmap">
						<a href="" class="link-white">Roadmap</a>
					</li>
				</ul>
				<ul class="menu">
					<li class="menu-item blog">
						<a href="" class="link-white">Blog</a>
					</li>
					<li class="menu-item support">
						<a href="" class="link-white">Support</a>
					</li>
					<li class="menu-item stackoverflow">
						<a href="" class="link-white">Stackoverflow</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="column">
			<div class="social">
				<h2 class="title">Socials networks</h2>
				<ul class="list __inline __socials">
					<li class="list-item">
						<a href=""></a>
					</li>
					<li class="list-item fb">
						<a href=""></a>
					</li>
					<li class="list-item plus">
						<a href=""></a>
					</li>
					<li class="list-item ln">
						<a href=""></a>
					</li>
					<li class="list-item mail">
						<a href=""></a>
					</li>
				</ul>
				<div class="partner microsoft">
					<a href="">Microsoft Gold certificated Partner</a>
				</div>
				<div class="partner azure">
					<a href="">Windows Azure</a>
				</div>
			</div>
			<form class="subscribe">
				<h2 class="title">Signup for news</h2>
				<p>
					If you want to get our lastest
					news and useful information
					about our product, sign up
					for our news ...
				</p>
				<input type="text" placeholder="Enter email ..." class="form-input">
				<input type="submit" value="Submit" class="button mini white">
			</form>
		</div>
	</footer>
</div>