<div class="footer-wrap">
	<footer role="contentinfo" class="responsive">
		<div class="column">
			<div class="links">
				<h2 class="title">Menu</h2>
				<ul class="menu">
					<li class="menu-item">
						<a href="/our-offers/enterprise-edition" class="link-white">Enterprise Edition</a>
					</li>
					<li class="menu-item">
						<a href="/our-offers/community-edition" class="link-white">Community Edition</a>
					</li>
					<li class="menu-item">
						<a href="/features/for-business-professinals" class="link-white">Business Features</a>
					</li>
					<li class="menu-item">
						<a href="/features/for-developers" class="link-white">Technical Features</a>
					</li>
					<li class="menu-item">
						<a href="/contact-us" class="link-white">Contact us</a>
					</li>
				</ul>
			</div>
			<div class="dev">
				<h2 class="title">Dev resources</h2>
				<ul class="menu">
					<li class="menu-item document">
						<a href="http://docs.virtocommerce.com/" target="_blank" class="link-white">Documentation</a>
					</li>
					<li class="menu-item downloads">
						<a href="/try-now-download" class="link-white">Downloads</a>
					</li>
					<li class="menu-item code">
						<a href="https://virtocommerce.codeplex.com/" target="_blank" class="link-white">Code repository</a>
					</li>
					<li class="menu-item roadmap">
						<a href="/roadmap" class="link-white">Roadmap</a>
					</li>
				</ul>
				<ul class="menu">
					<li class="menu-item blog">
						<a href="http://blog.virtocommerce.com/" target="_blank" class="link-white">Blog</a>
					</li>
					<li class="menu-item support">
						<a href="http://help.virtocommerce.com/support/home" target="_blank" class="link-white">Support</a>
					</li>
					<li class="menu-item stackoverflow">
						<a href="http://stackoverflow.com/questions/tagged/virtocommerce" target="_blank" class="link-white" rel="nofollow">Stackoverflow</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="column">
			<div class="social">
				<h2 class="title">Socials networks</h2>
				<ul class="list __inline __socials">
					<li class="list-item">
						<a href="https://twitter.com/VirtoCommerce" target="_blank"></a>
					</li>
					<li class="list-item fb">
						<a href="https://www.facebook.com/virtocommerce" target="_blank"></a>
					</li>
					<li class="list-item plus">
						<a href="https://plus.google.com/u/0/110275588520785121043/posts " target="_blank"></a>
					</li>
					<li class="list-item ln">
						<a href="https://www.linkedin.com/groups/Virtocommerce-Users-Group-8116785" target="_blank"></a>
					</li>
					<li class="list-item mail">
						<a href="mailto:sales@virtocommerce.com" target="_blank"></a>
					</li>
				</ul>
				<div class="partner microsoft">
					<a href="https://mspartner.microsoft.com/en/us/pages/index.aspx" target="_blank" rel="nofollow">Microsoft Gold certificated Partner</a>
				</div>
				<div class="partner azure">
					<a href="http://azure.microsoft.com/" target="_blank" rel="nofollow">Windows Azure</a>
				</div>
			</div>
			<form class="subscribe" id="subscribe">
				<h2 class="title">Contact Us</h2>
				<a class="email" href="mailto: sales@virtocommerce.com ">sales@virtocommerce.com </a>
				<p class="phone">+1 (800) 980-5288</p>
				@Html.AntiForgeryToken()
				<h2 class="title">Signup for news</h2>
				<input type="text" placeholder="Enter email ..." class="form-input" name="To">
				<input type="hidden" value="Signup for news" name="Subject"/>
				<input type="hidden" value="true" name="IsResend"/>
				<input type="hidden" value="/thank-you" name="RedirectUrl" />
				<input type="submit" value="Submit" class="button mini white">
			</form>
		</div>
	</footer>
</div>
<div class="footer-copy">
	<div class="responsive">
		<p>Copyright &copy; 2014 Virto Commerce. All rights reserved</p>
		<ul class="menu __inline">
			<li class="menu-item">
				<a href="#">Terms</a>
			</li>
			<li class="menu-item">
				<a href="#">Privacy</a>
			</li>
		</ul>
	</div>
</div>