<div class="header-wrap">
	<header role="banner" class="responsive">
		<a class="logo" href=""></a>
		<a class="mobile-btn">
			<span></span>
			<span></span>
			<span></span>
		</a>
		<nav class="head-menu">
			<ul class="menu __inline">
				<li class="menu-item dropdown">
					<a href="/features/for-business-professionals">Products</a>
					<ul class="menu __sub">
					    <li class="menu-item">
					        <a href="/features/for-business-professionals">Self Hosted</a>
					    </li>
					    <li class="menu-item">
					        <a href="/our-offers/enterprise-cloud-hosted">Cloud Hosted</a>
					    </li>
					    <li class="menu-item">
					        <a href="/our-offers/community-edition">Community</a>
					    </li>					    
					</ul>
				</li>
				<li class="menu-item dropdown">
					<a href="/resources">Resources</a>
					<ul class="menu __sub">
                        		    <li class="menu-item">
                        			<a href="/roadmap">Platform Roadmap</a>
			                    </li>
                        		    <li class="menu-item">
                        			<a href="http://virtocommerce.com/try-now">Demo & Download</a>
			                    </li>
                        		    <li class="menu-item">
                        			<a href="/case-studies">Case Studies</a>
			                    </li>		  
                        		    <li class="menu-item">
                        			<a href="http://virtocommerce.com/apps">App Store</a>
			                    </li>		
					    <li class="menu-item">
                        			<a href="https://github.com/VirtoCommerce/vc-community/" target="_new" rel="nofollow">Code Repository</a>
			                    </li>
                        		    <li class="menu-item">
                        			<a href="http://blog.virtocommerce.com/" target="_new" rel="nofollow">Blog</a>
			                    </li>			                    
					</ul>
				</li>
				<li class="menu-item dropdown">
					<a href="/partners/list-of-partners">Partners</a>
					<ul class="menu __sub">
						<li class="menu-item">
							<a href="/partners/become-partner">Become a Partner</a>
						</li>
						<li class="menu-item">
							<a href="/partners/list-of-partners"> List of Partners</a>
						</li>
					</ul>
				</li>
				<li class="menu-item">
					<a href="/about-us">About us</a>
				</li>
				<li class="menu-item try">
					<a href="/contact-us" class="button try">Contact Us</a>
				</li>
			</ul>
		</nav>
		@*<ul class="menu __inline __langs">
			<li class="menu-item flag flag-us active">
				<span></span>
			</li>
		</ul>*@
		<div class="head-phone">
			<div class="head-phone_num">+1 (800) 980-5288</div>
			<!--
			(323) 570.5588
			-->
		</div>
        <form class="head-search" action="/search">
            <input class="form-input" name="q" placeholder="Search">
            <button class="btn"></button>
        </form>
	</header>
</div>
