<div class="swipe">
	<ul class="menu">
		<li class="menu-item">
			<a href="">Products</a>
		</li>
		<li class="menu-item">
			<a href="">Resources</a>
		</li>
		<li class="menu-item">
			<a href="">Research</a>
		</li>
		<li class="menu-item">
			<a href="">Partners</a>
		</li>
		<li class="menu-item">
			<a href="">About us</a>
		</li>
		<li class="menu-item">
			<a href="" class="button fill block">Try Now</a>
		</li>
	</ul>
</div>