<div class="swipe">
	<ul class="menu">
		<li class="menu-item" data-id="swipeli">
			<a data-swipe="opened" href="/features/for-business-professionals">Products</a>
			<ul class="menu sub-menu">
				<li class="menu-item">
                    <a href="/features/for-business-professionals">Virto Commerce Platform</a>
				</li>
				<li class="menu-item">
                    <a href="/our-offers/enterprise-cloud-hosted">Virto Commerce Cloud</a>
				</li>
                <li class="menu-item">
                    <a href="/roadmap">Platform Roadmap</a>
                </li>
			</ul>
		</li>
		<li class="menu-item" data-id="swipeli">
			<a href="/resources">Resources</a>
		</li>
		<li class="menu-item" data-id="swipeli">
			<a data-swipe="opened" href="/partners/list-of-partners">Partners</a>
			<ul class="menu sub-menu">
				<li class="menu-item">
					<a href="/partners/become-partner">Become partner</a>
				</li>
				<li class="menu-item">
					<a href="/partners/list-of-partners">List of Partners</a>
				</li>
			</ul>
		</li>
        <li class="menu-item" data-id="swipeli">
            <a href="/about-us">About us</a>
        </li>
        <li class="menu-item" data-id="swipeli">
            <a href="/contact-us">Contact us</a>
        </li>
		<li class="menu-item">
			<a href="#" id="href_3" class="button fill block">Try Now</a>
		</li>
	</ul>
</div>