<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights schemaVersion="2014-05-30" xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'virtocommerce-www' in resource group 'Группа' -->
  <InstrumentationKey>7586bf8f-784c-48d7-831d-fa692b4c6a0a</InstrumentationKey>
</ApplicationInsights>