<?xml version="1.0" encoding="utf-8"?>
<!--
	For more information on how to configure your ASP.NET application, please visit
	http://go.microsoft.com/fwlink/?LinkId=301880
	-->
<configuration>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0"/>
		<add key="webpages:Enabled" value="false"/>
		<add key="ClientValidationEnabled" value="true"/>
		<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
		<add key="FromEmail" value="eo@virtoway.com"/>
		<add key="SupportToEmail" value="evgokhrimenko@gmail.com"/>
		<add key="SendGridUsername" value="username"/>
		<add key="SendGridPassword" value="password"/>
		<add key="MicrosoftApplicationInsightsKey" value="key"/>
		<add key="GoogleAnalyticsKey" value="key"/>
		<add key="FacebookTrackerId" value="key"/>
		<add key="GoogleSiteVerificationId" value="key"/>
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.5.1" />
		<httpRuntime targetFramework="4.5.1" />
		<!--<httpModules>
			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Extensibility.Web.RequestTracking.WebRequestTrackingModule, Microsoft.ApplicationInsights.Extensibility.Web" />
		</httpModules>-->
    <customErrors mode="Off"></customErrors>
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="Redirect all sweden" stopProcessing="true">
					<match url="sv-se(.*)" />
					<conditions>
					</conditions>
					<action type="Redirect" url="/" redirectType="Found" />
				</rule>
				<rule name="Redirect from pickedition to try-now-download">
					<match url="sandbox" />
					<action type="Redirect" url="/try-now-download" redirectType="Found"/>
				</rule>
				<rule name="Redirect from episerver-upgrade to main">
					<match url="episerver-upgrade" />
					<action type="Redirect" url="/" redirectType="Found" />
				</rule>
				<rule name="Redirect from webcast-virto-commerce to main">
					<match url="webcast-virto-commerce" />
					<action type="Redirect" url="/" redirectType="Found" />
				</rule>
				<rule name="Redirect from customization to main">
					<match url="customization" />
					<action type="Redirect" url="/" redirectType="Found" />
				</rule>
				<rule name="Redirect from webcast to main">
					<match url="webcast" />
					<action type="Redirect" url="/" redirectType="Found" />
				</rule>
				<rule name="Redirect from startups to main">
					<match url="startups" />
					<action type="Redirect" url="/" redirectType="Found" />
				</rule>
				<rule name="Redirect from onlinedemodir to main">
					<match url="onlinedemodir" />
					<action type="Redirect" url="/" redirectType="Found" />
				</rule>
				<rule name="Redirect from our-offers to our-offers/enterprise-edition" patternSyntax="ExactMatch">
					<match url="our-offers" />
					<action type="Redirect" url="our-offers/enterprise-edition" redirectType="Found" />
				</rule>
				<rule name="Redirect from features to features/for-developers" patternSyntax="ExactMatch">
					<match url="features" />
					<action type="Redirect" url="features/for-developers" redirectType="Found" />
				</rule>
				<rule name="Redirect from partners to partners/list-of-partners" patternSyntax="ExactMatch">
					<match url="partners" />
					<action type="Redirect" url="partners/list-of-partners" redirectType="Found" />
				</rule>
				<rule name="Redirect from opensourcelicense to open-source-license" patternSyntax="ExactMatch">
					<match url="opensourcelicense" />
					<action type="Redirect" url="open-source-license" redirectType="Found" />
				</rule>
				<rule name="Redirect from requestcommunitylicense to request-community-license" patternSyntax="ExactMatch">
					<match url="requestcommunitylicense" />
					<action type="Redirect" url="request-community-license" redirectType="Found" />
				</rule>
				<rule name="Redirect from support/Community to http://help.virtocommerce.com/support/home">
					<match url="support/Community" ignoreCase="true" />
					<action type="Redirect" url="http://help.virtocommerce.com/support/home" redirectType="Found" />
				</rule>
				<rule name="Redirect from support/documentation to http://docs.virtocommerce.com/">
					<match url="support/documentation" />
					<action type="Redirect" url="http://docs.virtocommerce.com/" redirectType="Found" />
				</rule>
				<rule name="Rtb pdf">
					<match url="Cms_Data/Sites/VirtoCommerceNew/Files/rtb-case-study.pdf" />
					<action type="Redirect" url="Files/rtb-case-study.pdf" redirectType="Found" />
				</rule>
				<rule name="Kitmall pdf">
					<match url="Cms_Data/Contents/VirtoCommerce/Media/Files/Kitmall-case-study.pdf" />
					<action type="Redirect" url="Files/Kitmall-case-study.pdf" redirectType="Found" />
				</rule>
				<rule name="Features pdf">
					<match url="Cms_Data/Contents/VirtoCommerce/Media/Files/Feature-Guide.pdf" />
					<action type="Redirect" url="Files/Feature-Guide.pdf" redirectType="Found" />
				</rule>
			</rules>
		</rewrite>
		<staticContent>
			<mimeMap fileExtension="woff" mimeType="application/font-woff" />
		</staticContent>
		<modules>
			<remove name="ApplicationInsightsWebTracking" />
			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Extensibility.Web.RequestTracking.WebRequestTrackingModule, Microsoft.ApplicationInsights.Extensibility.Web" preCondition="managedHandler" />
		</modules>
	<handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
</configuration>