@{
	ViewBag.Title = "Enterprise .NET open-source ecommerce cloud platform. Request community license";
}
<article role="main" class="main">
	<div class="partner __responsive">
		<h2 class="title">Community License</h2>
		<h3>Production License Community Edition of Virto Commerce is offered free of charge if you meet the requirements of the Community Edition License (mainly revenue restriction).</h3>
		<p class="text">All we ask from you is to complete the form below and share your experience with our community on Facebook or Twitter.</p>
		<div class="columns">
			<div class="column">
				<div class="block">
					<form action="">
						<input type="hidden" value="Signup for news" name="Subject" />
						<input type="hidden" value="true" name="IsResend" />
						<input type="hidden" value="/thank-you-demo" name="RedirectUrl" />
						<div class="control-group">
							<label for="FullName">Full name</label>
							<input type="text" name="FullName" class="form-input" required>
						</div>
						<div class="control-group">
							<label for="To">Email</label>
							<input type="text" name="To" class="form-input">
						</div>
						<div class="control-group">
							<label for="Url">Url</label>
							<input type="text" name="Url" class="form-input" required>
						</div>
						<div class="control-group">
							<label for="descr"><br /><input type="checkbox" name="Agree" required /><a style="margin-left: 15px; color:#fff;" href="/open-source-license">I Agree to terms (yearly revenue of not exceeding US100,000)</a></label>
						</div>
						<div class="control-group">
							<button class="button fill" type="submit">Request license</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</article>
